.flight-results-section {
  margin-top: 30px;
}

.saved-flights {
  .skytrip-flight-card.saved {
    margin-bottom: 20px;

    .card-header {
      .airline {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 16px;

        svg, i {
          margin-right: 12px;
          color: #1a73e8;
        }
      }

      svg {
        color: #ff8c00;
        width: 20px;
        height: 20px;
      }
    }

    .card-footer {
      .date {
        font-size: 15px;
        color: #888;
      }

      .status-button {
        background-color: #fff0e1;
        border: none;
        color: #ff8c00;
        padding: 10px 18px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}