.navbar-item.has-dropdown .navbar-link {
    display: flex;
    align-items: center;
}

.navbar-item.has-dropdown .navbar-dropdown {
    display: none;
}

.navbar-item.has-dropdown.is-active .navbar-dropdown {
    display: block;
}
