.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeIn 0.3s ease-in-out;
}

.sidebar-toggle {
  color: white !important;
  
  .icon,
  svg {
    color: white !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--background-light);
  color: var(--text-primary);
  transition: left 0.3s ease-in-out;
  z-index: 1050;
  border-right: 1px solid var(--background-darker);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);

  &.is-open {
    left: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-dark);
  }

  .sidebar-content {
    padding: 1rem;
  }

  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
    }

    .sidebar-link {
      color: var(--text-primary);
      text-decoration: none;
      transition: color 0.2s ease;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        width: 1.25rem;
        text-align: center;
      }

      &:hover {
        color: var(--primary);
      }
    }
  }
}
