.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--background-light);
  color: var(--text-primary);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  border-right: 1px solid var(--background-darker);

  &.is-open {
    left: 0;
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-dark);
  }

  .sidebar-content {
    padding: 1rem;
  }

  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;
    }

    .sidebar-link {
      color: var(--text-primary);
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
