@media (max-width: 768px) {
  .dashboard-card {
    .media {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .media-left {
      margin: 0 0 1rem 0;
    }
  }
}
