@use 'theme' as *;
@use 'settings' as *;
@use './pages/home' as *;
@use './pages/city' as *;
@use './pages/commercialModes' as *;
@use './pages/swagger' as *;
@use './pages/coverage' as *;
@use './pages/places' as *;
@use './pages/schedules' as *;
@use './pages/reports' as *;
@use './pages/lines' as *;
@use './pages/isochrones' as *;
@use './pages/metzBettembourg' as *;
@use './pages/about' as *;
@use './pages/locationDetection' as *;
@use './components/cityCards' as *;
@use './components/trainCard' as *;
@use './components/bottomNavbar' as *;
@use './components/sidebar' as *;
@use './components/departures' as *;
@use './components/arrivals' as *;
@use './components/trainStations' as *;
@use './components/trainStation' as *;
@use './components/stops' as *;
@use './components/ad' as *;

// Animation for spinning icons
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

// Import statements must come after @use
@import 'bulma/css/bulma.css';