@import 'bulma/css/bulma.css';
@import 'theme';
@import 'settings';
@import './pages/home';
@import './pages/city';
@import './pages/commercialModes';
@import './pages/journeys';
@import './pages/swagger';
@import './pages/coverage';
@import './pages/places';
@import './pages/schedules';
@import './pages/reports';
@import './pages/lines';
@import './pages/isochrones';
@import './pages/metzBettembourg';
@import './components/cityCards';
@import './components/cityCard';
@import './components/navbar';
@import './components/departures';
@import './components/arrivals';
@import './components/trainStations';
@import './components/trainStation';
@import './components/stops';