.skytrip-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 20px 20px 20px;
    background: #ff6f00;
    height: 180px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;

    .user-info {
        display: flex;
        align-items: center;

        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
        }

        p {
            margin: 0;
            font-size: 0.9em;
            color: white;
        }

        h2 {
            margin: 0;
            font-size: 1.2em;
            font-weight: bold;
            color: white;
        }
    }

    .notification {
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        cursor: pointer;
        position: relative;

        svg {
            color: #ff8c00;
            width: 24px;
            height: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 10px;
            width: 8px;
            height: 8px;
            background-color: red;
            border-radius: 50%;
            border: 2px solid white;
        }
    }
}

