.skytrip-tabs {
    display: flex;
    margin-bottom: 20px;

    &.rounded {
        background-color: #e0e0e0;
        border-radius: 25px;
        padding: 5px;
        margin-bottom: 25px;
    }

    .tab-button {
        flex: 1;
        padding: 10px;
        border: none;
        background-color: transparent;
        color: #aaa;
        font-size: 1em;
        cursor: pointer;
        transition: all 0.2s;

        &.active {
            background-color: #ff6f00;
            color: white;
            border-radius: 10px;
        }
    }

    &.rounded .tab-button {
        padding: 12px 20px;
        color: #666;
        font-weight: 500;
        border-radius: 20px;

        &.active {
            background-color: #ff8c00;
            color: white;
        }
    }
}

